#dialog {
    background-color: black;
    opacity: 0.9;
}

#dialog .MuiDialog-paperWidthSm {
    background-color: transparent;
}

#dialog span {
    align-self: center;
    color: #2FB86E;
    font-size: 8rem;
}

#dialog h1 {
    color: white;
}
